# NPS Data Preparation

## 00. Table of Contents

1. Importing Libraries
2. Importing Data
3. Combining Data
4. Exporting Merged Data

## 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
path = r'C:\Users\kensz\OneDrive\Desktop\CF Data Analytics Course\Achievment 6\01-2023 NPS Analysis'

In [3]:
df_nps16 = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'NPS Data 2016 Prior.csv'))

In [4]:
df_nps17 = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'NPS Data Since 2017.csv'))

# 03. Combining Data

In [5]:
df_nps_full = df_nps16.append(df_nps17)

C:\Users\kensz\AppData\Local\Temp\ipykernel_19104\2379648009.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_nps_full = df_nps16.append(df_nps17)

In [6]:
df_nps_full.head()

,Park,Unit Code,Park Type,Region,State,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
0,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,1,"2,643",0,"2,643",0,0,0,0,0,0,0,0
1,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,2,"3,647",0,"3,647",0,0,0,0,0,0,0,0
2,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,3,"7,925",0,"7,925",0,0,0,0,0,0,0,0
3,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,4,"19,339",0,"19,339",0,0,0,0,0,0,0,0
4,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,5,"16,958",0,"16,958",0,0,0,0,0,0,0,0

In [7]:
df_nps_full.tail()

,Park,Unit Code,Park Type,Region,State,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
22891,Zion NP,ZION,National Park,Intermountain,UT,2021,8,"466,928","1,860","3,105,093","1,860","5,754",0,"21,399","7,786","1,206",0,"1,551"
22892,Zion NP,ZION,National Park,Intermountain,UT,2021,9,"483,180","1,800","3,076,210","1,800","4,806",0,"15,670","7,615","1,500",0,"1,655"
22893,Zion NP,ZION,National Park,Intermountain,UT,2021,10,"469,379","1,860","2,902,495","1,860","4,652",0,"11,916","7,181","1,769",0,"1,765"
22894,Zion NP,ZION,National Park,Intermountain,UT,2021,11,"308,560","1,800","1,932,994","1,800","4,261",0,"7,298","5,431",931,0,"1,152"
22895,Zion NP,ZION,National Park,Intermountain,UT,2021,12,"211,983","1,860","1,321,213","1,860","3,624",0,"4,336","4,798",126,0,58

## 04. Exporting Merged Data

In [9]:
df_nps_full.to_csv(os.path.join(path, '02 Data', 'Original', 'NPS Full Dataset.csv'))