# NPS DATA CLEANING

## 00. Table of Contents
01. Importing Libraries
02. Importing Data
03. Data Consistency Checks
04. Extracting Data Profile
05. Exporting Cleaned Data

## 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
path = r'C:\Users\kensz\OneDrive\Desktop\CF Data Analytics Course\Achievment 6\01-2023 NPS Analysis'

In [3]:
df_nps = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'NPS Full Dataset.csv'))

In [4]:
df_nps.shape

(49552, 19)

In [5]:
df_nps.head()

,Data Grain,Park,Unit Code,Park Type,Region,State,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
0,ABLI-2011-01,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,1,2643,0,2643,0,0,0,0,0,0,0,0
1,ABLI-2011-02,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,2,3647,0,3647,0,0,0,0,0,0,0,0
2,ABLI-2011-03,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,3,7925,0,7925,0,0,0,0,0,0,0,0
3,ABLI-2011-04,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,4,19339,0,19339,0,0,0,0,0,0,0,0
4,ABLI-2011-05,Abraham Lincoln Birthplace NHP,ABLI,National Historical Park,Southeast,KY,2011,5,16958,0,16958,0,0,0,0,0,0,0,0

In [6]:
df_nps.tail()

,Data Grain,Park,Unit Code,Park Type,Region,State,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
49547,ZION-2021-08,Zion NP,ZION,National Park,Intermountain,UT,2021,8,466928,1860,3105093,1860,5754,0,21399,7786,1206,0,1551
49548,ZION-2021-09,Zion NP,ZION,National Park,Intermountain,UT,2021,9,483180,1800,3076210,1800,4806,0,15670,7615,1500,0,1655
49549,ZION-2021-10,Zion NP,ZION,National Park,Intermountain,UT,2021,10,469379,1860,2902495,1860,4652,0,11916,7181,1769,0,1765
49550,ZION-2021-11,Zion NP,ZION,National Park,Intermountain,UT,2021,11,308560,1800,1932994,1800,4261,0,7298,5431,931,0,1152
49551,ZION-2021-12,Zion NP,ZION,National Park,Intermountain,UT,2021,12,211983,1860,1321213,1860,3624,0,4336,4798,126,0,58

## 03. Data Consistency Checks

In [7]:
df_nps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49552 entries, 0 to 49551
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Data Grain                      49552 non-null  object
 1   Park                            49552 non-null  object
 2   Unit Code                       49552 non-null  object
 3   Park Type                       49552 non-null  object
 4   Region                          49552 non-null  object
 5   State                           48544 non-null  object
 6   Year                            49552 non-null  int64
 7   Month                           49552 non-null  int64
 8   Recreation Visits               49552 non-null  int64
 9   Non-Recreation Visits           49552 non-null  int64
 10  Recreation Hours                49552 non-null  int64
 11  Non-Recreation Hours            49552 non-null  int64
 12  Concessioner Lodging            49552 non-null  int64
 13  Concessioner Camping            49552 non-null  int64
 14  Tent Campers                    49552 non-null  int64
 15  RV Campers                      49552 non-null  int64
 16  Backcountry Campers             49552 non-null  int64
 17  Non-Recreation Overnight Stays  49552 non-null  int64
 18  Misc. Overnight Stays           49552 non-null  int64
dtypes: int64(13), object(6)
memory usage: 7.2+ MB

In [8]:
#checking for mixed data columns

for col in df_nps.columns.tolist():
  weird = (df_nps[[col]].applymap(type) != df_nps[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_nps[weird]) > 0:
    print (col)

State

### Checking For Missing Values

In [9]:
df_nps.isnull().sum()

Data Grain                           0
Park                                 0
Unit Code                            0
Park Type                            0
Region                               0
State                             1008
Year                                 0
Month                                0
Recreation Visits                    0
Non-Recreation Visits                0
Recreation Hours                     0
Non-Recreation Hours                 0
Concessioner Lodging                 0
Concessioner Camping                 0
Tent Campers                         0
RV Campers                           0
Backcountry Campers                  0
Non-Recreation Overnight Stays       0
Misc. Overnight Stays                0
dtype: int64

State mixed data is created by null values, not mixed data type.

In [10]:
df_nostate = df_nps[df_nps['State'].isnull() == True]

In [11]:
df_nostate

,Data Grain,Park,Unit Code,Park Type,Region,State,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
660,ALAG-2021-01,Alagnak Wild River,ALAG,National Wild & Scenic River,Alaska,NaN,2021,1,0,0,0,0,0,0,0,0,0,0,0
661,ALAG-2021-02,Alagnak Wild River,ALAG,National Wild & Scenic River,Alaska,NaN,2021,2,0,0,0,0,0,0,0,0,0,0,0
662,ALAG-2021-03,Alagnak Wild River,ALAG,National Wild & Scenic River,Alaska,NaN,2021,3,0,0,0,0,0,0,0,0,0,0,0
663,ALAG-2021-04,Alagnak Wild River,ALAG,National Wild & Scenic River,Alaska,NaN,2021,4,0,0,0,0,0,0,0,0,0,0,0
664,ALAG-2021-05,Alagnak Wild River,ALAG,National Wild & Scenic River,Alaska,NaN,2021,5,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49019,WWIM-2021-08,World War I Memorial,WWIM,National Memorial,National Capital,NaN,2021,8,48277,0,24139,0,0,0,0,0,0,0,0
49020,WWIM-2021-09,World War I Memorial,WWIM,National Memorial,National Capital,NaN,2021,9,46752,0,23376,0,0,0,0,0,0,0,0
49021,WWIM-2021-10,World War I Memorial,WWIM,National Memorial,National Capital,NaN,2021,10,72704,0,36352,0,0,0,0,0,0,0,0
49022,WWIM-2021-11,World War I Memorial,WWIM,National Memorial,National Capital,NaN,2021,11,69280,0,34640,0,0,0,0,0,0,0,0
49023,WWIM-2021-12,World War I Memorial,WWIM,National Memorial,National Capital,NaN,2021,12,70421,0,35211,0,0,0,0,0,0,0,0

In [12]:
df_nostate['Park'].value_counts()

Cesar E. Chavez NM                       108
Rosie The Riveter WWII Home Front NHP    108
Waco Mammoth NM                           84
Charles Young Buffalo Soldiers NM         84
Manhattan Project NHP                     72
Keweenaw NHP                              72
Belmont-Paul Women's Equality NM          72
Paterson Great Falls NHP                  72
Carter G. Woodson Home NHS                60
Minidoka NHS                              60
Stonewall NM                              60
Boston Harbor Islands NRA                 24
Dwight D. Eisenhower MEM                  24
Katahdin Woods and Waters NM              24
Valles Caldera NPRES                      24
Tule Springs Fossil Beds NM               12
Alagnak Wild River                        12
Medgar and Myrlie Evers Home NM           12
Camp Nelson NM                            12
World War I Memorial                      12
Name: Park, dtype: int64

In [13]:
df_nps['State'] = df_nps['State'].fillna(df_nps['Park'].map({
    'Cesar E. Chavez NM': 'CA',
    'Rosie The Riveter WWII Home Front NHP': 'CA',
    'Waco Mammoth NM': 'TX',
    'Charles Young Buffalo Soldiers NM': 'OH',
    'Manhattan Project NHP': 'NM',
    'Keweenaw NHP' : 'MI',
    "Belmont-Paul Women's Equality NM" : 'DC',
    'Paterson Great Falls NHP' : 'NJ',
    'Carter G. Woodson Home NHS' : 'DC',
    'Minidoka NHS' : 'ID',
    'Stonewall NM' : 'NY',
    'Boston Harbor Islands NRA' : 'MA',
    'Dwight D. Eisenhower MEM' : 'DC',
    'Katahdin Woods and Waters NM' : 'ME',
    'Valles Caldera NPRES' : 'NM',
    'Tule Springs Fossil Beds NM' : 'NV',
    'Alagnak Wild River' : 'AK',
    'Medgar and Myrlie Evers Home NM' : 'MS',
    'Camp Nelson NM' : 'KY',
    'World War I Memorial' : 'DC'}))

In [14]:
df_nps.isnull().sum()

Data Grain                        0
Park                              0
Unit Code                         0
Park Type                         0
Region                            0
State                             0
Year                              0
Month                             0
Recreation Visits                 0
Non-Recreation Visits             0
Recreation Hours                  0
Non-Recreation Hours              0
Concessioner Lodging              0
Concessioner Camping              0
Tent Campers                      0
RV Campers                        0
Backcountry Campers               0
Non-Recreation Overnight Stays    0
Misc. Overnight Stays             0
dtype: int64

### Checking for Duplicate Values

In [15]:
df_dups = df_nps[df_nps.duplicated()]

In [16]:
df_dups

Empty DataFrame
Columns: [Data Grain, Park, Unit Code, Park Type, Region, State, Year, Month, Recreation Visits, Non-Recreation Visits, Recreation Hours, Non-Recreation Hours, Concessioner Lodging, Concessioner Camping, Tent Campers, RV Campers, Backcountry Campers, Non-Recreation Overnight Stays, Misc. Overnight Stays]
Index: []

### Checking for Impossible Values

In [36]:
df_nps.describe()

,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
count,49552.000000,49552.000000,4.955200e+04,4.955200e+04,4.955200e+04,4.955200e+04,49552.000000,49552.000000,49552.000000,49552.000000,49552.000000,49552.000000,49552.000000
mean,2016.054327,6.500323,6.613549e+04,3.615488e+04,2.889350e+05,3.615488e+04,665.161971,289.609017,727.653576,493.340975,416.778959,23.542057,403.576667
std,3.163872,3.452150,1.593904e+05,2.388795e+05,1.101786e+06,2.388795e+05,6002.836402,4593.273648,4072.452693,2380.044165,2505.775297,437.243036,6710.636418
min,2011.000000,1.000000,-3.200000e+02,-7.880000e+02,-1.800000e+01,-7.880000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2013.000000,4.000000,2.471000e+03,0.000000e+00,3.873750e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,7.000000,1.125300e+04,0.000000e+00,2.026900e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2019.000000,10.000000,5.125000e+04,4.175000e+02,1.264970e+05,4.175000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2021.000000,12.000000,2.238812e+06,4.736394e+06,2.021239e+07,4.736394e+06,151190.000000,164885.000000,145536.000000,78060.000000,62848.000000,19918.000000,454405.000000

In [37]:
df_nps['Recreation Visits'] = df_nps['Recreation Visits'].abs()

In [39]:
df_nps['Non-Recreation Visits'] = df_nps['Non-Recreation Visits'].abs()

In [40]:
df_nps['Recreation Hours'] = df_nps['Recreation Hours'].abs()

In [41]:
df_nps['Non-Recreation Hours'] = df_nps['Non-Recreation Hours'].abs()

## 04. Extracting Data Profile

In [42]:
df_nps.describe()

,Year,Month,Recreation Visits,Non-Recreation Visits,Recreation Hours,Non-Recreation Hours,Concessioner Lodging,Concessioner Camping,Tent Campers,RV Campers,Backcountry Campers,Non-Recreation Overnight Stays,Misc. Overnight Stays
count,49552.000000,49552.000000,4.955200e+04,4.955200e+04,4.955200e+04,4.955200e+04,49552.000000,49552.000000,49552.000000,49552.000000,49552.000000,49552.000000,49552.000000
mean,2016.054327,6.500323,6.613550e+04,3.615492e+04,2.889350e+05,3.615492e+04,665.161971,289.609017,727.653576,493.340975,416.778959,23.542057,403.576667
std,3.163872,3.452150,1.593904e+05,2.388795e+05,1.101786e+06,2.388795e+05,6002.836402,4593.273648,4072.452693,2380.044165,2505.775297,437.243036,6710.636418
min,2011.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2013.000000,4.000000,2.471000e+03,0.000000e+00,3.873750e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,7.000000,1.125300e+04,0.000000e+00,2.026900e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2019.000000,10.000000,5.125000e+04,4.192500e+02,1.264970e+05,4.192500e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2021.000000,12.000000,2.238812e+06,4.736394e+06,2.021239e+07,4.736394e+06,151190.000000,164885.000000,145536.000000,78060.000000,62848.000000,19918.000000,454405.000000

## 05. Exporting Cleaned Data

In [43]:
df_nps.to_csv(os.path.join(path, '02 Data', 'Prepared', 'NPS_cleaned_data.csv'))